<section class="row finish-registration">
  <header class="col-sm-4 col-sm-offset-2">
    <%= image_tag "twik-logo-horizontal-red.png", class: "img-responsive" %>
  </header>
  <div class="col-sm-4 finish-registration-form-wrapper">
    <%= form_for @user, :url => update_user_confirmation_path({confirmation_token: @user.confirmation_token}), :html => { :method => :patch } do |f| %>
      <header>
        <h1>Welcome <span class="user-email"><%= @user.email %></span></h1>
      </header>
      <%= f.hidden_field :confirmation_token %>
      <%= form_group_for f, :name, {label: false} do %>
        <%= f.text_field :name, class:"form-control", placeholder: "Name" %>
      <% end %>
      <%= form_group_for f, :password, {label: false} do %>
        <%= f.password_field :password, class:"form-control", placeholder: "Password" %>
      <% end %>
      <%= form_group_for f, :password_confirmation, {label: false} do %>
        <%= f.password_field :password_confirmation, class:"form-control", placeholder: "Confirm password" %>
      <% end %>
      <div class="">
        <%= f.submit "Log In", class: "btn btn-primary btn-small pull-right" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>