<section id="users-index">
  <header class="container">
    <h1 class="title"><%= current_account.subdomain %>'s team members</h1>
    <hr>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <section class="users-panel panel panel-default">
          <div class="panel-body">
            <% if current_user.owner? %>
              <footer class="row invite-user-box">
                <div class="col-sm-12">
                  <%= form_for(User.new, url: user_invitation_path,
                                          html: { class: 'form-inline pull-right'}) do |f| %>
                        <%= form_group_for f, :email, label: false do %>
                            <%= f.email_field :email, class:"form-control", placeholder: "Email" %>
                        <% end %>
                        <%= f.submit "Invite User", class: "btn btn-primary" %>
                  <% end %>
                </div>
              </footer>
            <% end %>
            <table class="users-table table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th>Role</th>
                  <% if current_user.owner? %>
                    <th>Options</th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user_status(user) %></td>
                      <td>
                        <% if policy(user).change_role? %>
                          <%= form_for(user) do |f| %>
                            <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, {}, class: "form-control") %>
                            <%= f.button :class => 'btn-xs btn-link' do %>
                               <span class="fa fa-wrench"></span>
                            <% end %>
                          <% end %>
                        <% else %>
                         <%= user.role.titleize %>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn-xs btn-link') unless !policy(user).destroy? %>
                      </td>
                    </tr>
                <% end %>
              </tbody>
            </table>


          </div>
        </section>
      </div>
    </div>
  </div>

</section>
