<section class="user-account">
  <header class="row settings-area-unit">
    <div class="col-xs-12 settings-header-stripe">
      <h1>Profile</h1>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="col-sm-2">
        <span id="update-avatar-trigger" class="pull-right update-avatar-trigger ion ion-ios-checkmark-outline hide"></span>
        <button id="upload-user-avatar" class="btn btn-primary btn-square" style="cursor: pointer" data-tooltip="Click to change avatar">
          <% if current_user.avatar.present? %>
            <%= image_tag current_user.avatar.url, class: "user-avatar" %>
          <% else %>
            Upload<br>Photo
          <% end %>
        </button>
        <%= form_for(current_user, html: { id: 'avatar-update-form'}) do |f| %>
          <div class="hide">
             <%= form_group_for f, :avatar, label: false do %>
                <%= f.file_field :avatar %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-sm-10 profile-settings">
        <div class="row">
          <%= form_for(current_user, html: { id: 'user-update-form', class: 'user-update-form'}) do |f| %>
            <div class="col-sm-6">
              <%= form_group_for f, :name, label: false do %>
                <span class="pull-right ion js-user-edit-trigger ion-ios-compose-outline"></span>
                <%= f.text_field :name, class:"form-control text-default", placeholder: "Name", :readonly => true %>
              <% end %>
            </div>
            <div class="col-sm-6">
              <%= form_group_for f, :title, label: false do %>
                <span class="pull-right ion js-user-edit-trigger ion-ios-compose-outline"></span>
                <%= f.text_field :title, class:"form-control text-default", placeholder: "Title", :readonly => true %>
              <% end %>
            </div>
            <div class="col-sm-6">
              <%= form_group_for f, :organization, label: false do %>
                <span class="pull-right ion js-user-edit-trigger ion-ios-compose-outline"></span>
                <%= f.text_field :organization, class:"form-control text-default", placeholder: "Company / Organization", :readonly => true %>
              <% end %>
            </div>
            <div class="col-sm-6">
              <%= form_group_for f, :phone, label: false do %>
                <span class="pull-right ion js-user-edit-trigger ion-ios-compose-outline"></span>
                <%= f.text_field :phone, class:"form-control text-default", placeholder: "Phone", :readonly => true %>
              <% end %>
            </div>
            <div class="col-sm-6">
              <%= form_group_for f, :email, label: false do %>
                <span class="pull-right ion js-user-edit-trigger ion-ios-compose-outline"></span>
                <%= f.email_field :email, class:"form-control text-default", placeholder: "Email", :readonly => true %>
              <% end %>
            </div>
            <div class="col-sm-6">
              <%= form_group_for f, :password, label: false do %>
                <span class="pull-right ion js-user-edit-trigger ion-ios-compose-outline"></span>
                <%= f.email_field :password, class:"form-control text-default", placeholder: "Password", :readonly => true %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </header>
  <div class="row settings-area-unit">
    <div class="col-xs-12 settings-header-stripe">
      <h2>Manage Team</h2>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <section class="users-panel">
        <div class="panel-body">
          <ul class="list-unstyled team-list">
            <% @users.each do |user| %>
              <li class="row border-bottom">
                <div class="col-xs-7">
                  <p><%= user.name %></p>
                  <p><%= user.email %></p>
                </div>
                <div class="col-xs-5 team-user-options">
                  <a href="<%= user_path(user) %>" class="team-user-delete">
                    <span class="ion ion-ios-close-outline"></span>
                  </a>                  <%= form_for(user) do |f| %>
                  <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, {}, class: "form-control") %>
                  <% end %>
                  <span class="ion ion-ios-compose-outline"></span>
                </div>
              </li>
            <% end %>
            <li class="row border-bottom invite-user-form-wrapper">
              <div class="col-xs-7">
                <span class="ion ion-ios-plus-outline invite-user-trigger"></span>
                <p>Name</p>
                <p>email</p>
              </div>
            </li>
            <li class="hide row border-bottom invite-user-form">
              <%= form_for(User.new, url: user_invitation_path,
                                      html: { class: 'form-inline'}) do |f| %>
              <%= f.hidden_field :subdomain, value: current_account.subdomain %>
              <div class="col-xs-7">
                <span class="ion ion-ios-close-outline invite-user-trigger"></span>
                <%= form_group_for f, :name, label: false do %>
                    <%= f.text_field :name, class:"form-control", placeholder: "Name" %>
                <% end %>
                <%= form_group_for f, :email, label: false do %>
                    <%= f.email_field :email, class:"form-control", placeholder: "Email" %>
                <% end %>
              </div>
              <div class="col-xs-5">
                 <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, {}, class: "form-control") %>
                <%= f.submit "Send", class: "btn pull-right" %>
              </div>
              <% end %>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <div class="row settings-area-unit ">
    <div class="col-xs-12 settings-header-stripe">
      <h2>Manage Printers</h2>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <section class="printers-panel">
        <div class="panel-body">
          <ul class="list-unstyled printer-list">
            <% @printers.each do |printer| %>
              <li id="update-printer-form-placeholder" class="row border-bottom udpate-printer-form-placeholder">
                <div class="col-xs-7">
                  <% if printer.default %>
                    <span class="pull-right printer-default ion ion-ios-checkmark-outline"></span>
                  <% end %>
                  <p><%= printer.name %></p>
                  <p><%= printer.contact %></p>
                  <p><%= printer.email %></p>
                </div>
                <div class="col-xs-5 printer-options">
                  <span class="pull-right ion ion-ios-compose-outline js-update-printer-trigger edit-printer"></span>
                  <%= link_to(printer_path(printer), :data => { :confirm => "Are you sure?" }, :method => :delete) do %>
                  <span class="pull-right ion ion-ios-close-outline delete-printer"></span>
                  <% end %>
                </div>
              </li>
              <li id="update-printer-form-wrapper" class="row border-bottom update-printer-form-wrapper hide">
                  <%= form_for(printer, html: { id: 'update-printer-form',
                                                    class: 'update-printer-form'}) do |f| %>
                    <div class="col-sm-7">
                      <span class="ion ion-ios-close-outline js-update-printer-trigger"></span>
                      <%= form_group_for f, :name, label: false do %>
                          <%= f.text_field :name, class:"form-control text-default", placeholder: "Printer name" %>
                      <% end %>
                      <%= form_group_for f, :contact, label: false do %>
                          <%= f.text_field :contact, class:"form-control text-default", placeholder: "Contact name" %>
                      <% end %>
                      <%= form_group_for f, :email, label: false do %>
                          <%= f.email_field :email, class:"form-control text-default", placeholder: "Email" %>
                      <% end %>
                      <%= form_group_for f, :default, label: true do %>
                        <%= f.check_box :default, class:"" %>
                      <% end %>

                    </div>
                    <div class="col-sm-5">
                      <%= f.submit "Update Printer", class: "btn pull-right" %>
                    </div>
                  <% end %>
              </li>
            <% end %>
            <li id="new-printer-form-placeholder" class="row border-bottom new-printer-form-placeholder">
              <div class="col-xs-7">
                <span class="ion ion-ios-plus-outline js-new-printer-trigger"></span>
                <span id="new-printer-placeholder" class="new-printer-placeholder">
                  <p>Printer</p>
                  <p>Contact Name</p>
                  <p>Email</p>
                </span>
              </div>
              <div class="col-xs-5">

              </div>
            </li>
            <li id="new-printer-form-wrapper" class="row border-bottom new-printer-form-wrapper hide">
                <%= form_for(Printer.new, html: { id: 'new-printer-form',
                                                  class: 'new-printer-form'}) do |f| %>
                  <div class="col-sm-7">
                    <span class="ion ion-ios-close-outline js-new-printer-trigger"></span>
                    <%= form_group_for f, :name, label: false do %>
                        <%= f.text_field :name, class:"form-control text-default", placeholder: "Printer name" %>
                    <% end %>
                    <%= form_group_for f, :contact, label: false do %>
                        <%= f.text_field :contact, class:"form-control text-default", placeholder: "Contact name" %>
                    <% end %>
                    <%= form_group_for f, :email, label: false do %>
                        <%= f.email_field :email, class:"form-control text-default", placeholder: "Email" %>
                    <% end %>
                    <%= form_group_for f, :default, label: true do %>
                      <%= f.check_box :default, class:"" %>
                    <% end %>

                  </div>
                  <div class="col-sm-5">
                    <%= f.submit "Add Printer", class: "btn pull-right" %>
                  </div>
                <% end %>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <div class="row settings-area-unit ">
    <div class="col-xs-12 settings-header-stripe">
      <h2>Payment Settings</h2>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <section class="payment-panel">
        <div class="panel-body">
          <% if @stripe_data.nil? %>
            <p>Looks like you haven't set up a subscription just yet...</p>
            <button id="customButton" class="btn btn-primary btn-large" data-plan="3290">
              I want my subscription
            </button>
            <!-- new-subscription -->
            <%= form_tag subscriptions_path, method: 'POST', :id => 'new-subscriptions-form' do %>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <input type="hidden" name="plan_token" value="3290">
              <%= hidden_field_tag 'stripeToken' %>
              <%= hidden_field_tag 'stripeEmail' %>
            <% end %>

          <% else %>
            <ul class="list-unstyled payment-list">
              <% @stripe_data.sources.each do |card| %>
                <li class="row border-bottom">
                  <div class="col-xs-7">
                    <p><%= "#{card["brand"]} ending in #{card["last4"]}" %></p>
                    <p><%= "Expires #{card["exp_month"]}/#{card["exp_year"]}" %></p>
                  </div>
                  <div class="col-xs-5 payment-options">
                    <span id="edit-payment-method" class="edit-payment-method pull-right ion ion-ios-compose-outline" data-pid="<%= card["id"] %>"></span>
                    <% unless @stripe_data.sources["total_count"] === 1 %>
                      <span id="delete-payment-method" class="delete-payment-method pull-right ion ion-ios-close-outline" data-pid="<%= card["id"] %>"></span>
                    <% end %>
                  </div>
                </li>
              <% end %>
              <li class="row border-bottom">
                <div class="col-xs-7">
                  <span id="add-credit-card" class="ion ion-ios-plus-outline"></span>
                  <p>Credit Card Number</p>
                  <p>Expires</p>
                </div>
              </li>
            </ul>
              <!-- payment-method-add -->
              <%= form_tag add_user_payment_path(current_user), method: 'POST', :id => 'add-card-form' do %>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
                <%= hidden_field_tag 'stripeToken' %>
                <%= hidden_field_tag 'stripeEmail' %>
              <% end %>
              <!-- payment-method-edit -->
              <%= form_tag update_user_payment_path(current_user), method: 'PATCH', :id => 'update-card-form' do %>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
                <%= hidden_field_tag 'stripeCard' %>
                <%= hidden_field_tag 'stripeToken' %>
                <%= hidden_field_tag 'stripeEmail' %>
              <% end %>
              <!-- payment-method-delete -->
              <%= form_tag delete_user_payment_path(current_user), method: 'DELETE', :id => 'delete-card-form' do %>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
                <%= hidden_field_tag 'stripeCard' %>
              <% end %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</section>

<script src="https://checkout.stripe.com/checkout.js"></script>
<% if @stripe_data.nil? %>
  <script>
      /*

      ADD SUBSCRIPTION

       */
      var newSubscriptionHandler = StripeCheckout.configure({
        locale: 'auto',
        image: "<%= asset_path 'twik-robot-red.png' %>",
        key: "<%= Rails.configuration.stripe[:publishable_key] %>",
        email: "<%= current_user.email %>",
        token: function(token, args) {
          document.getElementById("stripeToken").value = token.id;
          document.getElementById("stripeEmail").value = token.email;
          document.getElementById("new-subscriptions-form").submit();
        }
      });

      document.getElementById('customButton').addEventListener('click', function(e) {
        // Open Checkout with further options:
        newSubscriptionHandler.open({
          name: 'Twik',
          description: 'Basic subscription',
          amount: 999,
        });
        e.preventDefault();
      });

      // Close Checkout on page navigation:
      window.addEventListener('popstate', function() {
        newSubscriptionHandler.close();
      });
  </script>
<% else %>
  <script>
    /*

    EDIT PAYMENT METHOD

     */
    var editPaymentMethodHadler = StripeCheckout.configure({
      image: "<%= asset_path 'twik-robot-red.png' %>",
      key: "<%= Rails.configuration.stripe[:publishable_key] %>",
      email: "<%= current_user.email %>",
      locale: 'auto',
      token: function(token, args) {
        $("#update-card-form #stripeToken").val(token.id)
        $("#update-card-form #stripeEmail").val(token.email)
        document.getElementById("update-card-form").submit();
      }
    });





    /*

    ADD PAYMENT METHOD

     */
    var addPaymentMethodHadler = StripeCheckout.configure({
      locale: 'auto',
      image: "<%= asset_path 'twik-robot-red.png' %>",
      key: "<%= Rails.configuration.stripe[:publishable_key] %>",
      email: "<%= current_user.email %>",
      token: function(token, args) {
        $("#add-card-form #stripeToken").val(token.id)
        $("#add-card-form #stripeEmail").val(token.email)
        // document.getElementById("stripeToken").value = token.id;
        // document.getElementById("stripeEmail").value = token.email;
        document.getElementById("add-card-form").submit();
      }
    });

    document.getElementById('add-credit-card').addEventListener('click', function(e) {
      // Open Checkout with further options:
      addPaymentMethodHadler.open({
        name: 'Twik',
        description: 'Add Credit Card'
      });
      e.preventDefault();
    });

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
      addPaymentMethodHadler.close();
    });
  </script>
<% end %>
