<section class="row sign-in">
  <header class="col-sm-4 col-sm-offset-2">
    <%= image_tag "twik-logo-horizontal-red.png", class: "img-responsive" %>
  </header>
  <div class="col-sm-4 finish-registration-form-wrapper">
    <%= devise_error_messages! %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.hidden_field :invitation_token %>
      <div class="row">
        <div class="col-xs-12">
          <%= form_group_for f, :email, label: false do %>
            <%= f.email_field :email, class:"form-control", autofocus: true, placeholder: "Email" %>
          <% end %>
        </div>
      </div>
      <div class="row auth-actions" style="font-family: Baloo, cursive;">
        <div class="col-xs-5 col-xs-offset-7">
          <%= f.submit "Reset Password", class: "btn btn-primary btn-small pull-right", style: "padding: 7.5px 5px 5px 5px; font-size: 16px;" %>
        </div>
        <div class="col-xs-12">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</section>
