<% if @menus.count > 0 %>
  <section class="dashboard">
    <div class="row">
      <header class="col-md-2 col-md-offset-2 left-dashboard">
        <div class="row">
          <div class="col-xs-12">
            <span id="update-avatar-trigger" class="pull-right update-avatar-trigger ion ion-ios-checkmark-outline hide"></span>
            <button id="upload-user-avatar" class="btn btn-primary btn-square" style="cursor: pointer" data-tooltip="Click to change avatar">
              <% if current_user.avatar.present? %>
                <%= image_tag current_user.avatar.url, class: "user-avatar" %>
              <% else %>
                Upload<br>Photo
              <% end %>
            </button>
            <%= form_for(current_user, html: { id: 'avatar-update-form'}) do |f| %>
              <div class="hide">
                 <%= form_group_for f, :avatar, label: false do %>
                    <%= f.file_field :avatar %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="action-items col-xs-12 border-bottom">
          <h1>Welcome back!</h1>
        </div>
        <div class="action-items col-xs-12 border-bottom">
          <%= form_for(current_user, html: { id: 'user-update-form', class: 'user-update-form'}) do |f| %>
            <%= form_group_for f, :name, label: false do %>
              <span class="pull-right ion js-user-edit-trigger ion-ios-compose-outline"></span>
              <%= f.text_field :name, class:"form-control text-default", placeholder: "Name", :readonly => true %>
            <% end %>
          <% end %>
        </div>
        <div class="action-items col-xs-12 border-bottom">
          <a href="/archive" class="btn-link text-default">Template Archive</a>
        </div>
        <div class="action-items col-xs-12 border-bottom">
          <a href="/users/<%= current_user.id %>" class="btn-link text-default">My Account</a>
        </div>
        <div class="action-items col-xs-12">
          <a href="/menus/new" class="btn btn-primary btn-med hide">Create New</a>
        </div>
      </header>
      <section class="actions right-dashboard col-md-5 col-md-offset-1" style="margin-top: 0">
        <header class="row">
          <h1>Latest Menus</h1>
        </header>
        <div class="row">
          <% @menus.each do |menu| %>
            <div class="col-sm-4">
              <img src="<%= menu.preview.url(:thumb) %>" alt="<%= menu.name %>" class="img-responsive">
              <p><%=  menu.name %> (<%=  menu.template.name %>)</p>
              <p><%= menu.updated_at.strftime("Last edited on %m/%d/%Y, at %I:%M%p") %></p>
              <%= link_to "Edit", edit_menu_path(menu) %>
              <a href="<%= menu.rendered_pdf %>" target="_blank">View</a>
              <a href="<%= menu.rendered_pdf %>" download>Download</a>
              <a href="/menus/<%= menu.id %>/archives">View menu history</a>
            </div>
          <% end %>
        </div>
      </section>
    </div>
  </section>
<% else %>
  <section class="dashboard fresh-user">
    <div class="row">
      <header class="col-md-2 col-md-offset-2 left-dashboard">
        <div class="row">
          <div class="col-xs-12">
            <span id="update-avatar-trigger" class="pull-right update-avatar-trigger ion ion-ios-checkmark-outline hide"></span>
            <button id="upload-user-avatar" class="btn btn-primary btn-square" style="cursor: pointer" data-tooltip="Click to change avatar">
              <% if current_user.avatar.present? %>
                <%= image_tag current_user.avatar.url, class: "user-avatar" %>
              <% else %>
                Upload<br>Photo
              <% end %>
            </button>
            <%= form_for(current_user, html: { id: 'avatar-update-form'}) do |f| %>
              <div class="hide">
                 <%= form_group_for f, :avatar, label: false do %>
                    <%= f.file_field :avatar %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="action-items col-xs-12 border-bottom">
          <h1>Welcome back!</h1>
        </div>
        <div class="action-items col-xs-12 border-bottom">
          <span><%= current_user.name.nil? ? "Name" : current_user.name %></span>
          <a href="/users/<%= current_user.id %>">
            <span class="align-right ion ion-ios-compose-outline"></span>
          </a>
          <% if current_user.name.nil? %>
            <span class="ion ion-android-alert text-primary"></span>
          <% end %>
        </div>
        <div class="action-items col-xs-12 border-bottom">
          <a href="/archive" class="btn-link text-default">Template Archive</a>
        </div>
        <div class="action-items col-xs-12 border-bottom">
          <a href="/users/<%= current_user.id %>" class="btn-link text-default">My Account</a>
        </div>
        <div class="action-items col-xs-12">
          <a href="/menus/new" class="btn btn-primary btn-med">Create New</a>
        </div>
      </header>
      <section class="actions right-dashboard col-md-5 col-md-offset-1">
        <header class="row border-bottom">
          <h1>Welcome!</h1>
          <h2>Let's get started.</h2>
          <h3>What would you like to do?</h3>
        </header>
        <div class="action-items row border-bottom">
          <div class="col-xs-12">
            <a  href="/menus/new" class="btn-link text-primary">Create New Template</a>
          </div>
        </div>
        <div class="action-items row border-bottom">
          <div class="col-xs-12">
            <a href="/users/<%= current_user.id %>" class="btn-link text-primary">Complete My Profile</a>
          </div>
        </div>
        <div class="action-items row border-bottom">
          <div class="col-xs-12">
            <a href="/users" class="btn-link text-primary">Add Team Member</a>
          </div>
        </div>
      </section>
    </div>
  </section>
<% end %>
