<section class="signin">
  <div class="col-sm-6 col-sm-offset-3 well well-lg">
    <header>
      <h1>Log in</h1>
    </header>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <%= form_group_for f, :email, label: false do %>
          <div class="input-group">
            <%= f.email_field :email, class:"form-control", placeholder: "Email" %>
            <span class="input-group-addon"><span class="fa fa-user"></span></span>
          </div>
        <% end %>
        <%= form_group_for f, :password, label: false do %>
          <div class="input-group">
            <%= f.password_field :password, class:"form-control", placeholder: "Password" %>
            <span class="input-group-addon"><span class="fa fa-lock"></span></span>
          </div>
        <% end %>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      </div>


      <div class="actions row">
        <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>

    <%= flash_messages layout_flash: false %>

    <%= render "devise/shared/links" %>
  </div>
</section>

