<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%= "#{current_account.subdomain} | " unless current_account.nil? %>Twik</title>
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <%= favicon_link_tag 'twik-robot-red.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'bundle', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="navbar-header">
            <%= link_to root_path, class: "navbar-brand twik" do %>
              <%= image_tag "twik-logo-word-only-red.png", class: "img-responsive" %>
            <% end %>
          </div>
          <% unless current_account.nil? %>
            <div class="current-account">
              <div class="dropdown">
                <span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <%= current_account.subdomain %>.twik.us
                  <span class="caret"></span>
                </span>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><%= link_to('Sign into a different team', account_sign_in_url(subdomain: false)) %></li>
                  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                </ul>
              </div>

                <!-- <p class="navbar-text hide"><%= current_account.subdomain %>.twik.us</p> -->
              </div>
          <% end %>
        </div>
      </div>
    </nav>
    <nav class="navbar navigation-actions">
      <ul class="nav navbar-nav action-navbar">
        <% if user_signed_in? %>
          <% unless current_page?(root_path) %>
            <li><%= link_to "Dashboard", root_path %> <span class="nav-separator">|</span></li>
          <% end %>
          <li><%= link_to "Create New", new_menu_path %> <span class="nav-separator">|</span></li>
          <li class="hide"><%= link_to "My Templates", '#' %> <span class="nav-separator">|</span></li>
          <li><%= link_to "My Account", user_path(current_user) %> <span class="nav-separator hide">|</span></li>
          <li class="hide"><a href="#"><span class="fa fa-inverse fa-search"></span></a></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <section class="container-fluid" id="main-container">
    <%= yield %>
  </section>
  <% if user_signed_in? %>
    <footer id="main-footer" class="layout-footer container hide">
      <hr>
      <h1>&copy; Twik, 2016</h1>
    </footer>
  <% end %>
  <div id="loader-wrapper" class="hide">
    <div id="loader">
      <div id="top"></div>
      <div id="bottom"></div>
      <div id="line"></div>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= toastr_flash %>
</body>
</html>
