<!DOCTYPE html>
<html class="all-height">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%= "#{current_account.subdomain} | " unless current_account.nil? %>Twik</title>
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <%= favicon_link_tag 'twik-robot-red.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'bundle', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="all-height">
  <section class="main-landing-section">
    <header id="sign-up">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <nav class="navbar navbar-landing row">
              <div class="container-fluid">
                <div class="col-lg-1 col-md-2 col-sm-6">
                  <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                    <a class="navbar-brand" href="/">
                      <img alt="Brand" src="<%= asset_path 'twik-logo-horizontal-red-white-background.png' %>">
                    </a>
                  </div>
                </div>
                <div class="col-lg-8 col-md-7 hidden-xs hidden-sm">
                  <div class='pretty-nav-line'></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="nbar">
                    <ul class="nav navbar-nav mobile-nav">
                      <li><a href="#about">About Us</a></li>
                      <li><a href="#pricing">Plans and Pricing</a></li>
                      <li><a href="/accounts/signin">Log in</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-xs">
                      <li><a href="#about">About Us</a> <span class="nav-separator">|</span></li>
                      <li><a href="#pricing">Plans and Pricing</a> <span class="nav-separator">|</span></li>
                      <li><a href="/accounts/signin">Log in</a></li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-2 col-lg-offset-0 col-lg-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </header>
    <section class="container twik-deets">
      <header id="about" class="row">
        <div class="col-md-2">
          <img class="face-image hidden-sm hidden-xs" src="<%=  asset_path 'icon-face.png' %>">
        </div>
        <div class="col-md-6">
          <h1><img src="<%= asset_path 'twik-logo-word-only-red.png' %>" alt="Twik" class="twik-word-only"> enables teams to use and edit designed brand templates directly. The platform automatically applies brand formatting to text and images, saves documents to a cloud archive, and prepares professional, print ready files so you can send them to production right from your page.</h1>
        </div>
      </header>
      <div class="row uses-wrapper">
        <div class="col-md-6 col-md-offset-2 uses-list">
          <p><strong>Use Twik for:</strong></p>
          <ul class="list-unstyled list-inline uses">
            <li class="text-primary"><strong>Menus</strong></li>
            <li class="list-dash">/</li>
            <li class="text-primary"><strong>Proposals &amp; RFP's</strong></li>
            <li class="list-dash">/</li>
            <li class="text-primary"><strong>Business cards</strong></li>
            <li class="list-dash">/</li>
            <li class="text-primary"><strong>Organization reports</strong></li>
            <li class="list-dash">/</li>
            <li class="text-primary"><strong>Letterhead and Invoices</strong></li>
            <li class="list-dash">/</li>
            <li class="text-primary"><strong>Flyers and promotional materials</strong></li>
            <li class="list-dash">/</li>
            <li class="text-primary"><strong>Presentation slide decks</strong></li>
            <li class="list-dash">/</li>
            <li class="text-primary"><strong>Web Banners</strong></li>
          </ul>
        </div>
        <div style="color:#57090F;" class="col-md-3 col-md-offset-1">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-landing">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Teams
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <p class="collapse-text">If you have more than one team to manage, a Multiple Account team gives you
                    single, dedicated dashboard where you can access and manage all your teams.
                    This plan gives you up to three regular team pages plus your management
                    page standard
                  </p>
                  <a style="margin-left: 30px" class="box-background">Sign Up For Free Trial</a>
                </div>
              </div>
            </div>
            <div class="panel panel-landing">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Multiple Teams and Management Companies
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <p class="collapse-text">If you have more than one team to manage, a Multiple Account team gives you
                    single, dedicated dashboard where you can access and manage all your teams.
                    This plan gives you up to three regular team pages plus your management
                    page standard
                  </p>
                  <a style="margin-left: 30px" class="box-background">Sign Up For Free Trial</a>
                </div>
              </div>
            </div>
            <div class="panel panel-landing">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Designers (PRO)
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p class="collapse-text">If you have more than one team to manage, a Multiple Account team gives you
                    single, dedicated dashboard where you can access and manage all your teams.
                    This plan gives you up to three regular team pages plus your management
                    page standard
                  </p>
                  <a style="margin-left: 30px" class="box-background">Sign Up For Free Trial</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="visible-xs visible-sm row pricing-plans">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#designer-mobile" aria-controls="designer-mobile" role="tab" data-toggle="tab">For Designers</a></li>
          <li role="presentation"><a href="#business-mobile" aria-controls="business-mobile" role="tab" data-toggle="tab">For Business</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="designer-mobile">
            <div id="pricing" class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 pricing-plan">
                  <h1>Individual</h1>
                  <ul class="list-unstyled">
                    <li><strong>1 Account</strong></li>
                    <li><strong>Up to 20 Clients</strong></li>
                    <li><strong>10 guest collaborators</strong></li>
                  </ul>
                  <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-block btn-primary btn-large">
                      Sign Up For Free Trial
                    </button>
                  </div>
                </div>
                <div class="col-xs-12 pricing-plan">
                  <h1>Studio</h1>
                  <ul class="list-unstyled">
                    <li><strong>Up to 35 Accounts</strong></li>
                    <li><strong>Up to 50 Clients</strong></li>
                    <li><strong>30 guest collaborators</strong></li>
                    <li><strong>Admin-managed team permissions</strong></li>
                  </ul>
                  <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-block btn-primary btn-large">
                      Sign Up For Free Trial
                    </button>
                  </div>
                </div>
                <div class="col-xs-12 pricing-plan">
                  <h1>Agency</h1>
                  <ul class="list-unstyled">
                    <li><strong>Unlimited Accounts</strong></li>
                    <li><strong>Unlimited Clients</strong></li>
                    <li><strong>Unlimited guest collaborators</strong></li>
                    <li><strong>Admin-managed team permissions</strong></li>
                    <li><strong>Unlimited role types</strong></li>
                  </ul>
                  <p class="disclaimer hide">Designer accounts are not yet available, but you can still sign up for free "Teams" trial</p>
                  <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-block btn-primary btn-large">
                      Sign Up For Free Trial
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="business-mobile">
            <div id="pricing" class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 pricing-plan">
                  <h1>Entrepreneur</h1>
                  <ul class="list-unstyled">
                    <li><strong>2-10 Accounts</strong></li>
                    <li><strong>Up to 40 Templates</strong></li>
                    <li><strong>150MB document storage</strong></li>
                  </ul>
                  <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-block btn-primary btn-large">
                      Sign Up For Free Trial
                    </button>
                  </div>
                </div>
                <div class="col-xs-12 pricing-plan">
                  <h1>Small Business</h1>
                  <ul class="list-unstyled">
                    <li><strong>2-10 Accounts</strong></li>
                    <li><strong>Up to 40 Templates</strong></li>
                    <li><strong>150MB document storage</strong></li>
                  </ul>
                  <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-block btn-primary btn-large">
                      Sign Up For Free Trial
                    </button>
                  </div>
                </div>
                <div class="col-xs-12 pricing-plan">
                  <h1>Enterprise</h1>
                  <ul class="list-unstyled">
                    <li><strong>2-10 Accounts</strong></li>
                    <li><strong>Up to 40 Templates</strong></li>
                    <li><strong>150MB document storage</strong></li>
                  </ul>
                  <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-block btn-primary btn-large">
                      Sign Up For Free Trial
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pricing-plans hidden-xs hidden-sm">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#designer" aria-controls="designer" role="tab" data-toggle="tab">For Designers</a></li>
          <li role="presentation"><a href="#business" aria-controls="business" role="tab" data-toggle="tab">For Business</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="designer">
            <table id="pricing" class="table pricing-table">
              <thead>
                <th></th>
                <th style="line-height: 18px">Individual<br><span class="small">Coming Soon</span></th>
                <th style="line-height: 18px; padding-bottom: 20px"><img class="th-crown-icon" src="<%=  asset_path 'crown-red.png' %>"><br>Studio<br><span class="small">Coming Soon</span></th>
                <th style="line-height: 18px">Agency<br><span class="small">Coming Soon</span></th>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Users</strong></td>
                  <td><strong>1 Account</strong></td>
                  <td><strong>Up to 35 Accounts</strong></td>
                  <td><strong>Unlimited Accounts</strong></td>
                </tr>
                <tr>
                  <td><strong>Clients</strong></td>
                  <td>Up to 20 Clients</td>
                  <td>Up to 50 Clients</td>
                  <td>Unlimited Clients</td>
                </tr>
                <tr>
                  <td><strong></strong></td>
                  <td>10 guest collaborators</td>
                  <td>30 guest collaborators</td>
                  <td>Unilimted guest collaborators</td>
                </tr>
                <tr>
                  <td><strong>Roles</strong></td>
                  <td></td>
                  <td>Admin-managed team permissions</td>
                  <td>Admin-managed team permissions</td>

                </tr>
                <tr>
                  <td><strong></strong></td>
                  <td></td>
                  <td></td>
                  <td>Unlimited role types</td>
                </tr>
                <tr>
                  <td> </td>
                  <td><a href="#sign-up" class="box-background">Sign Up For Free Trial</a></td>
                  <td><a href="#sign-up" class="box-background">Sign Up For Free Trial</a></td>
                  <td><a href="#sign-up" class="box-background">Sign Up For Free Trial</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="business">
            <table id="pricing" class="table pricing-table">
              <thead>
                <th></th>
                <th style="line-height: 18px">Entrepreneur<br><span class="small">Coming Soon</span></th>
                <th style="line-height: 18px; padding-bottom: 20px"><img class="th-crown-icon" src="<%=  asset_path 'crown-red.png' %>"><br>Small Business<br><span class="small">Coming Soon</span></th>
                <th style="line-height: 18px">Enterprise<br><span class="small">Coming Soon</span></th>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Users</strong></td>
                  <td><strong>2-10 Accounts</strong></td>
                  <td><strong></strong></td>
                  <td><strong></strong></td>
                </tr>
                <tr>
                  <td><strong>Templates</strong></td>
                  <td>Up to 40 Clients</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td><strong>Storage</strong></td>
                  <td>150MB document storage</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td><strong></strong></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td><strong></strong></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td> </td>
                  <td><a href="#sign-up" class="box-background">Sign Up For Free Trial</a></td>
                  <td><a href="#sign-up" class="box-background">Sign Up For Free Trial</a></td>
                  <td><a href="#sign-up" class="box-background">Sign Up For Free Trial</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </section>
  </section>
  <%= javascript_include_tag 'application' %>
</body>
</html>
