<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js" %>
    <script type="text/javascript">
      $(document).ready(function(){
        // WebFont.load({
        //   custom: {
        //     families: ['Pea Mystie'],
        //     urls: ["<%= wicked_pdf_stylesheet_link_tag "fonts" -%>"]
        //   }
        // });
      });
    </script>
    <style>
      html, body, #pdf-document{
        margin:0 !important;
        padding:0 !important;
        overflow: hidden !important;
        /*border: 1px black !important;*/
      }
      #entry-point{
        border: none !important;
      }
      .section-element{
        border: none !important;
      }
      .fa, .ion{
        display: none !important;
      }
      .hide-on-export{
        display: none !important;
      }
      .visibility-none-export{
        visibility: hidden !important;
      }
      @font-face {
        font-family: 'Pea Mystie';
        src: url("<%= wicked_pdf_asset_base64('heyyyy-webfont.ttf')%>");
      }

      @font-face {
        font-family: 'Avenir Next Condensed Demi';
        src: url("<%= wicked_pdf_asset_base64('AvenirNextCondensed-DemiBold.ttf')%>");
      }

      @font-face {
        font-family: 'Avenir Next Condensed';
        src: url("<%= wicked_pdf_asset_base64('AvenirNextCondensed-Regular.ttf')%>");
      }
      .container-align-bottom{
        display: -webkit-box;
        display: -moz-box;
        /* Children should be oriented vertically */
        box-orient: vertical;           /* As specified */
        -moz-box-orient: vertical;      /* Mozilla */
        -webkit-box-orient: vertical;   /* WebKit */

        /* Pack children to the bottom of this box */
        box-pack: end;                  /* As specified */
        -moz-box-pack: end;             /* Mozilla */
        -webkit-box-pack: end;
      }
    </style>
  </head>
  <body id="pdf-document" style="outline: red 1px solid">
    <%= yield %>
  </body>
</html>
