<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "application" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js" %>
    <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
    <script type="text/javascript">
      $(document).ready(function(){
        WebFont.load({
          custom: {
            families: ['Pea Mystie'],
            urls: ["<%= wicked_pdf_stylesheet_link_tag "fonts" -%>"]
          }
        });
      }); 
    </script>
    <style>
      html, body{
        margin:0 !important;
        padding:0 !important;
        overflow: hidden;
      }
      .section-element{
        border: none !important;
      }
      .fa, .ion{
        display: none !important;
      }
      .hide-on-export{
        display: none !important;
      }
      .visibility-none-export{
        visibility: hidden !important;
      }
      @font-face {
        font-family: 'Pea Mystie';
        src: url("<%= wicked_pdf_asset_base64('heyyyy-webfont.ttf')%>");
      }

      @font-face {
        font-family: 'Avenir Next Condensed Demi';
        src: url("<%= wicked_pdf_asset_base64('AvenirNextCondensed-DemiBold.ttf')%>");
      }

      @font-face {
        font-family: 'Avenir Next Condensed';
        src: url("<%= wicked_pdf_asset_base64('AvenirNextCondensed-Regular.ttf')%>");
      }
    </style>
  </head>
  <body id="pdf-document">
    <%= yield %>
  </body>
</html>
